<template>
  <v-layout align-start="">
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="contacts"
        sort-by="calories"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Meus Contatos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  >Novo Contato</v-btn
                >
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          v-model="editedItem.nome"
                          label="Nome"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="4" sm="4" md="4">
                        <v-text-field
                          v-model="editedItem.contato"
                          label="Contato"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="4" sm="4" md="4">
                        <v-select
                          v-on:change="onChange"
                          v-model="selected"
                          :hint="`${select.value}`"
                          :items="selectItems"
                          item-text="text"
                          item-value="value"
                          label="Select"
                          persistent-hint
                          return-object
                          single-line
                        ></v-select>
                      </v-col>
                      <v-col cols="4" sm="4" md="4">
                        <v-btn
                          class="mt-4 mx-3"
                          fab
                          dark
                          x-small
                          color="primary"
                          @click="addInfo"
                        >
                          <v-icon dark>add</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12">
                        <v-list-item three-line>
                          <v-list-item-content>
                            <v-list-item-title>Cellphones</v-list-item-title>
                            <v-list-item-subtitle
                              v-for="cellphone in infos.celulares"
                              :key="cellphone"
                            >
                              {{ cellphone }}
                              <v-icon
                                small
                                @click="deleteInfo(cellphone, 'cellphone')"
                              >
                                delete
                              </v-icon>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item three-line>
                          <v-list-item-content>
                            <v-list-item-title>Emails</v-list-item-title>
                            <v-list-item-subtitle
                              v-for="email in infos.emails"
                              :key="email"
                            >
                              {{ email }}
                              <v-icon small @click="deleteInfo(email, 'email')">
                                delete
                              </v-icon>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item three-line>
                          <v-list-item-content>
                            <v-list-item-title>Phones</v-list-item-title>
                            <v-list-item-subtitle
                              v-for="phone in infos.telefones"
                              :key="phone"
                            >
                              {{ phone }}
                              <v-icon small @click="deleteInfo(phone, 'phone')">
                                delete
                              </v-icon>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="save">Salvar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)"> edit </v-icon>
          <v-icon small @click="deleteItem(item)"> delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Atualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
const axios = require("axios");

export default {
  data: () => ({
    dialog: false,
    headers: [
      {
        text: "Nome",
        align: "start",
        sortable: false,
        value: "nome",
      },
      { text: "Celulares", value: "celulares_count" },
      { text: "Emails", value: "emails_count" },
      { text: "Telefones", value: "telefones_count" },
      { text: "Ações", value: "actions", sortable: false },
    ],
    contacts: [],
    editedIndex: -1,
    editedItem: {
      id: null,
      nome: "",
      telefones_count: 0,
      emails_count: 0,
      celulares_count: 0,
      infos: [
        {
          telefones: [],
          emails: [],
          celulares: [],
        },
      ],
    },
    defaultItem: {
      id: null,
      nome: "",
      contato: "",
      telefones_count: 0,
      emails_count: 0,
      celulares_count: 0,
      infos: {
        telefones: [],
        emails: [],
        celulares: [],
      },
    },
    infos: {
      telefones: [],
      emails: [],
      celulares: [],
    },
    defaultInfos: {
      telefones: [],
      emails: [],
      celulares: [],
    },
    select: { text: "Select...", value: "" },
    selectItems: [
      { text: "Select...", value: "" },
      { text: "Cellphone", value: "cellphone" },
      { text: "Email", value: "email" },
      { text: "Phone", value: "phone" },
    ],
    selected: "",
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo Contato" : "Atualizar Contato";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios
        .get("http://api.voceprogramando.com.br/api/contatos")
        .then((response) => (this.contacts = response.data));
    },

    editItem(item) {
      this.editedIndex = this.contacts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.infos = Object.assign({}, item.infos);
    },

    deleteItem(item) {
      confirm("Quer mesmo excluir?") &&
        axios
          .delete("http://api.voceprogramando.com.br/api/contatos/" + item.id)
          .then((response) => {
            alert("Excluído com Sucesso!");
            this.initialize();
          })
          .catch((error) => {
            this.errorMessage = error.message;
            console.error("Erro: ", error);
          });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.infos = Object.assign({}, this.defaultInfos);
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      Object.assign(this.editedItem.infos, this.infos);
      console.log(this.editedItem);
      if (this.editedIndex > -1) {
        axios
          .put(
            "http://api.voceprogramando.com.br/api/contatos/" + this.editedItem.id,
            this.editedItem
          )
          .then((response) => {
            alert("Editado com Sucesso!");
            this.initialize();
          })
          .catch((error) => {
            this.errorMessage = error.message;
            console.error("Erro: ", error);
          });
      } else {
        axios
          .post("http://api.voceprogramando.com.br/api/contatos", this.editedItem)
          .then((response) => {
            alert("Salvo com Sucesso!");
            this.initialize();
          })
          .catch((error) => {
            this.errorMessage = error.message;
            console.error("Erro: ", error);
          });
      }

      this.close();
    },
    onChange(event) {
      this.selected = event.value;
    },
    addInfo() {
      switch (this.selected) {
        case "cellphone":
          this.infos.celulares.push(this.editedItem.contato);
          break;
        case "email":
          this.infos.emails.push(this.editedItem.contato);
          break;
        case "phone":
          this.infos.telefones.push(this.editedItem.contato);
          break;
      }
    },
    deleteInfo(item, type) {
      switch (type) {
        case "cellphone":
          var index = this.infos.celulares.indexOf(item);
          this.infos.celulares.splice(index, 1);
          break;
        case "email":
          var index = this.infos.emails.indexOf(item);
          this.infos.emails.splice(index, 1);
          break;
        case "phone":
          var index = this.infos.telefones.indexOf(item);
          this.infos.telefones.splice(index, 1);
          break;
      }
    },
  },
};
</script>